#include? "Local.xcconfig"

DEVELOPMENT_TEAM = $(DEVELOPMENT_TEAM_ID)

APP_DISPLAY_NAME = internet
APP_TUNNEL_DISPLAY_NAME = internet
APP_USER_AGENT_NAME = internet

APP_BUNDLE_IDENTIFIER = com.example.internet
PACKET_TUNNEL_BUNDLE_IDENTIFIER = com.example.internet.PacketTunnel
APP_GROUP_IDENTIFIER = group.com.example.internet
SHARED_KEYCHAIN_SERVICE = com.example.internet
SHARED_KEYCHAIN_SUFFIX = com.example.internet.shared
